

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

[]

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [3]:
L=[]
L

[]

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [13]:
l=[2,3,4,5,'PAPA']

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [14]:
len(l)

5

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [15]:
print(l[0],l[2],l[4])

2 4 PAPA

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [16]:
mixed_data_types=['Mbaye','29','1.95','senegalais','Thies']

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

In [70]:
it_companies=['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print(it_companies)
len(it_companies)
print(it_companies[0],it_companies[3],it_companies[6])
it_companies[0]='Facebook from Zuckerberg'
print(it_companies)
it_companies.append('ADIE')
it_companies.insert(4,'ATOS SENEGAL')
print(it_companies)
it_companies[0]=it_companies[0].upper()
'# ; '.join(it_companies)
if 'Microsoft' in it_companies:
    print('L\'entreprise Microsoft est cit√©e dans',it_companies)
it_companies.sort()
print(it_companies)
it_companies.reverse()
print(it_companies)
del it_companies[:3]
print(it_companies)
del it_companies[-3:]
print(it_companies)
del it_companies[1]
print(it_companies)
del it_companies[0:1]
del it_companies[0]
print(it_companies)
del it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Facebook Apple Amazon
['Facebook from Zuckerberg', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook from Zuckerberg', 'Google', 'Microsoft', 'Apple', 'ATOS SENEGAL', 'IBM', 'Oracle', 'Amazon', 'ADIE']
L'entreprise Microsoft est cit√©e dans ['FACEBOOK FROM ZUCKERBERG', 'Google', 'Microsoft', 'Apple', 'ATOS SENEGAL', 'IBM', 'Oracle', 'Amazon', 'ADIE']
['ADIE', 'ATOS SENEGAL', 'Amazon', 'Apple', 'FACEBOOK FROM ZUCKERBERG', 'Google', 'IBM', 'Microsoft', 'Oracle']
['Oracle', 'Microsoft', 'IBM', 'Google', 'FACEBOOK FROM ZUCKERBERG', 'Apple', 'Amazon', 'ATOS SENEGAL', 'ADIE']
['Google', 'FACEBOOK FROM ZUCKERBERG', 'Apple', 'Amazon', 'ATOS SENEGAL', 'ADIE']
['Google', 'FACEBOOK FROM ZUCKERBERG', 'Apple']
['Google', 'Apple']
[]

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [5]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
front_end.extend(back_end)
front_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [13]:
print(ages[0])
print(ages[-1])
hh=[19,26]
print(hh)
ages=ages+hh 
print(ages)
age_median=ages[int(len(ages)/2)]
age_median
age_moyen=sum(ages)/len(ages)
print(age_moyen)
interv=max(ages)-min(ages)
print(interv)
print(abs((min(ages)-age_moyen)-(max(ages)-age_moyen)))

19
26
[19, 26]
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26, 19, 26, 19, 26, 19, 26, 19, 26, 19, 26]
22.636363636363637
7
7.0

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

In [46]:
dog={}
dog={'nom':'Elgua','couleur':'noir blanc','race':'Bergere','les pattes':4,'age':14}
print(dog)
student={'prenom':'elhadji','nom':'mbaye','sexe':'M','age':29,'etat civil':'thiessois','competences':['Data scientist','computer science'],'pays':'Senegal','ville':'Thies','adresse':'Cite ouvriere'}
print(student)
print(len(student))
print(student['competences'])
print(type(student['competences']))
student['competences'].extend(['maths','BI'])
student
k=list(student.keys())
print(k)
v=student.values()
print(v)
listdict=(student.items())
listdict
type(listdict)
del student['etat civil']
student
del dog

{'nom': 'Elgua', 'couleur': 'noir blanc', 'race': 'Bergere', 'les pattes': 4, 'age': 14}
{'prenom': 'elhadji', 'nom': 'mbaye', 'sexe': 'M', 'age': 29, 'etat civil': 'thiessois', 'competences': ['Data scientist', 'computer science'], 'pays': 'Senegal', 'ville': 'Thies', 'adresse': 'Cite ouvriere'}
9
['Data scientist', 'computer science']
<class 'list'>
['prenom', 'nom', 'sexe', 'age', 'etat civil', 'competences', 'pays', 'ville', 'adresse']
dict_values(['elhadji', 'mbaye', 'M', 29, 'thiessois', ['Data scientist', 'computer science', 'maths', 'BI'], 'Senegal', 'Thies', 'Cite ouvriere'])

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>